




.box1{
    border: 3px solid black;
    width: 200px;
    height: 150px;
    background-image: url(../images/natural-rural.jpg);
    background-size: cover;
    background-position: right center;
}
.box11{
    border: 3px solid black;
    width: 200px;
    height: 150px;
    background-image: url(../images/flower.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



.box2{
    border: 3px solid black;
    width: 400px;
    height: 100px;
    background-image: url(../images/car.jpg);
    background-repeat: repeat-x;
}
.box22{
    border: 3px solid black;
    width: 400px;
    height: 150px;
    background-image: url(../images/car.jpg);
}
.box222{
    border: 3px solid black;
    width: 400px;
    height: 100px;
    background-image: url(../images/car.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}