* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: black;
}


.container {
    width: 19%;
    margin: 35px auto;
}

.product-card {
    background-color: #d5d4d4;
    height: 515px;
    border-radius: 25px;
}


.product-image {
    height: 50%;
    padding: 15px;
}

.symbol {
    display: inline-block;
    width: 28px;
    height: 20px;
    margin: 5px 88px;
}

img {
    width: 100%;
    height: 100%;
}

.image {
    background-color: #5A93C4;
    width: 66%;
    height: 70%;
    border-radius: 100%;
    margin: 18px auto;
    position: relative;
}

.image img {
    width: 250px;
    position: absolute;
    left: -15px;
    right: 12px;

}



.product-data {
    height: 40%;
    padding: 15px;
}

h2 {
    margin-top: 14px;
    font-weight: bold;
    padding-bottom: 3px;
}

p {
    color: #a09e9e;
    font-size: 13px;
    padding-bottom: 16px;
}

h4 {
    float: left;
    font-weight: 550;
    font-size: 14px;
    padding-right: 28px;
    display: inline-block;
}

ul li {
    float: left;
    display: inline-block;
    margin-right: 38px;
    font-size: 14px;
}

ul li a {
    color: #a09e9e;
    text-decoration: none;
}

.size {
    margin-bottom: 35px;
}

.red {
    color: #8F242D;
    margin-right: 18px;
    font-size: 18px;
}

.blue {
    color: #5A93C4;
    font-size: 18px;
}



.product-payment {
    background-color: #f3eeee;
    height: 10%; 
    border-radius: 0 0 25px 25px;
    
}
h5{
    float: left;
    margin-right: 38px;
    padding: 18px 15px 12px 15px;
}
button{
    background-color: black;
    color: white;
    padding: 8px 15px;
    border-radius: 7px;
    margin: 7px 10px 10px 12px;
}