*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FCFCFD;
    font-family: sans-serif;
}





header{
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: rgba(0,0,0,0.5);  
}
.container{
    width: 75%;
    margin: 0 auto;
}
.title{
    font-size: 40px;
    padding-top: 90px;
    padding-bottom: 30px;
}
.subtitle{
    font-size: 25px;
    padding-bottom: 55px;
}
.subdata{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
}
.photoimage{
    width: 90px;
}
h4{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.post{
    background-color: #C40D6C;
    color: white;
    display: flex;
    text-decoration: none;
    font-size: 15px;
    padding: 7px 10px;
    border-radius: 3px;
}
.proje{
    font-size: 20px;
    padding: 18px;
    max-width: 165px;
    margin-top: 55px;
}
hr{
    color: gray;
    margin-top: 100px;
}


















/* header */
ul{
    list-style-type: none;
}
header .container{
    display: flex;   
    justify-content: space-between;
}



/* left */
.left-header{
    display: flex;
    column-gap: 19px;
    align-items: center; 
    font-size: 15px;    
}
.left-header img{
    width: 147px;
    height: 65px;
}
ul{
    display: flex;
    column-gap: 19px;  
}
ul li a{
    color: white;
    text-decoration: none;
}
ul li a:hover{
    color: #44369F;
}



/* right */
.right-header{
    display: flex;
    column-gap: 19px;
    align-items: center; 
    font-size: 15px;  
}
.post:hover{
    background-color: #980852;
}






/* #hero */
#hero{
    color: white;
    padding: 250px 0 200px 0;
    background-image: url(../images/client-desktop.jpg);
}
.herotitle{
    font-size: 45px;
    margin-bottom: 35px;
    max-width: 525px;
}
.herosubtitle{
    font-size: 20px;
    font-weight: 450; 
    max-width: 500px; 
}



/* #possibilities */
.possi3{
    display: flex;
    gap: 60px;
}



/* #work */
#work .container{
    display: flex;
}
#work img{
    padding-top: 90px;
    width: 490px;
}
.work-data{
    padding-left: 55px;
}
