*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family:'MonaSans';
    src: url(../font/MonaSans-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family:'MonaSans' ;
    src: url(../font/MonaSans-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family:'MonaSans' ;
    src: url(../font/MonaSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: #E0C9CB;
    font-family: 'monasans';
}
.card{
    /* border: 1px solid red; */
    background-color: white;
    width: 600px;
    height: 385px;
    margin: 120px auto;
    border-radius: 12px;
}
.image{
    /* border: 1px solid blue; */
    width: 58%;
    height: 100%;  
    float: left;
}
.pro{
    /* border: 1px solid blue; */
    width: 100%;
    height: 75%;
}
.pro img{
    width: 100%;
    height: 100%;
    padding-left: 15px;
}
.image .size{
    /* border: 2px solid gold;   */
    width: 100%;
    height: 25%;   
}
h5{
    margin-top: 25px;
    padding-left: 5px;
 }
.size .box{
    border: 1px solid #E0C9CB;
    width: 25px;
    height: 25px;
    float: left;
    margin: 5px 4.4px;
    margin-top: 15px;
    font-size: 12px;
    padding: 4px 7px;
}
.data{
    /* border: 1px solid green; */
    width: 42%;
    height: 100%;
    float: left;
    padding: 35px 10px 0;
}
H6{color: #E0C9CB;}

h1{font-size: 26px;}

.price{color: #E0C9CB;
       padding-top: 8px;
}
.data p{padding-top: 25px;
  text-align: justify;
  line-height: 22px;
  font-size: 14px;
}
.pay{
    background-color: #D7B6B3;
    font-size: 13px;
    font-weight: bold;
    margin: 30px 0px 3px;
    padding: 8px 35px;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 2px;
    color: white;
    float: left; 
}
.heart{
    background-color: #D7B6B3;
    font-size: 13px;
    width: ;
    margin: 30px 4px 3px;
    padding: 7px;
    color: white;
    float: left; 
}
