*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color:#FFFFFF;
}
.card{
    border: 1px solid white;
    width: 1000px;
    height: 480px;
    margin: 140px auto;
    background-color: #F2F2F2;
}
.aa{
    width: 25%;
    height: 70%;
    margin-left: 30px;
    float: left;
}
.image1{
    /* border: 1px solid rgb(182, 31, 31); */
    background-color: #FFFFFF;
    width: 100%;
    height: 40%; 
    margin-left: 40px;
    margin-top: 50px;
}
.image1 img{
    width: 100%;
    height: 100%;
}
.data {
    /* border: 2px solid rgb(37, 138, 26); */
    background-color: #FFFFFF;
    width: 100%;
    height: 70%;
    margin-left: 40px;
    text-align: center;
    padding: 20px 0px;
}
.price span{
    font-size: 23px;
    color: #28C8A4;
}
.yello{
    color: yellow;
    padding-top: 10px;
}
.grae{
    color: gray;
}
.btn{
    width: 100%;
    height: 38px;   
    display: inline-block;
    background-color: #28C8A4;   
}
.xx{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: white; 
    
}








.aa1{
    width: 25%;
    height: 70%;
    margin-left:100px;
    margin-top: 50px;
    float: left;
}
.image2{
    /* border: 1px solid rgb(182, 31, 31); */
    background-color: #FFFFFF;
    width: 100%;
    height: 40%; 
    /* margin-left: 360px; */
    float: left;

}
.image2 img{
    width: 100%;
    height: 100%;
}
.data2{
    /* border: 2px solid rgb(37, 138, 26); */
    background-color: #FFFFFF;
    width: 100%;
    height: 70%;
    text-align: center;
    padding: 20px 0;
    float: left;
}
.price2 span{
    font-size: 23px;
    color: #FB552F;
}
.btn2{
       
}
.xx{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: white;
    width: 100%;
    padding: 10px 0;  
    display: inline-block;
    background-color: #FB552F; 
    
}











.aa2{
    width: 25%;
    height: 70%;
    margin-left:62px;
    margin-top: 50px;
    float: left;
}
.image3{
    /* border: 1px solid rgb(182, 31, 31); */
    background-color: #FFFFFF;
    width: 100%;
    height: 40%; 
    /* margin-left: 360px; */
    float: left;

}
.image3 img{
    width: 100%;
    height: 100%;
}
.data3{
    /* border: 2px solid rgb(37, 138, 26); */
    background-color: #FFFFFF;
    width: 100%;
    height: 70%;
    text-align: center;
    padding: 20px 0;
    float: left;
}
.price3 span{
    font-size: 23px;
    color: #FFA602;
}
.xx{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: white;
    width: 100%;
    padding: 10px 0;  
    display: inline-block;
    background-color: #FFA602; 
    
}
